<h1>Hello, Rails!</h1>
<!--Link to all articles on Welcome Page-->
<%= link_to 'My Blog', controller: 'articles' %>
<!--Link to post new articles on welcome page -->
<%= link_to 'New article', new_article_path %>
